@use '../vendors/bootstrap' as b;
@use "../abstracts/variables" as v;

main,
body {
  background-color: v.$background-color;
}

.form-control,
.form-select,
.list-group-item {
  background-color: v.$surface-color;
  color: b.$gray-300;
  border: 0em !important;
}

.img-user-profile {
  border-radius: 100%;
}

.img-artist-profile {
  border-radius: 100%;
  cursor: pointer;
  object-fit: cover;
  &:hover {
    filter: brightness(50%);
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  }
}

.img-artist-modal {
  border-radius: 100%;
  object-fit: cover;
  // &:hover {
  //   filter: brightness(50%);
  //   transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  // }
}

.img-playlist-cover {
  cursor: pointer;
  object-fit: cover;
  &:hover {
    filter: brightness(50%);
    transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  }
}

.img-created-playlist {
  // cursor: pointer;
  object-fit: cover;
  // &:hover {
  //   filter: brightness(50%);
  //   transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  // }
}

.spotify-icon {
  color: rgb(81, 228, 133) !important;
}

.text-green {
  color: rgb(29, 185, 84);
}

.nav-link-container {
  color: rgb(169, 161, 150);
}

.cursor-pointer {
  cursor: pointer;
}

.medium-emphasis-text {
  color: v.$medium-emphasis-text-color;
}

.high-emphasis-text {
  color: v.$high-emphasis-text-color;
}

.modal-content {
  background-color: v.$surface-color;
}

.text-blue {
  color: rgb(80, 155, 245);
}

.subtitle-text {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.playlist-footer {
  background-color: v.$background-color;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  height: 0;
}

.playlist-footer-visible {
  background-color: v.$background-color;
  -webkit-transition: height 0.3s ease;
  transition: height 0.3s ease;
  height: auto;
}

.user-link {
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
  &:hover {
    color: rgb(30, 215, 96);
  }
}

.hover-img {
  &:hover {
    img {
      filter: brightness(50%);
      transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
    }
    .info-icon {
      opacity: 1;
    }
  }
}

.info-icon {
  opacity: 0;
  transition: all 0.5s;
}
